body {
    margin: 0px;
    -webkit-user-select: none;
    background-color: black;
}
#container {
    width: 1280px;
    height: 820px;
    background-image: url('../img/background.png');
    margin: 0px auto;
}
canvas {
    background-color: transparent;
}
@font-face {
    font-family: advent;
    src: url('../fonts/advent_regular.ttf');
}