<IfModule mod_rewrite.c>
    RewriteEngine on

    # DreamHost
    RewriteCond %{REQUEST_URI} ^/(stats|failed_auth\.html).*$ [NC]
    RewriteRule . - [L]
    # end DreamHost

    RewriteRule	^(.*)$ app/webroot/$1 [L]
</IfModule>
