/* general */
body {
    background-image: url('/img/grey-dots.png');
    background-repeat: repeat;
    background-position: 0px -4px;
}
.navbar .nav-tabs {
    float: right;
    margin-right: 0px;
}
.external-link {
    padding-right: 2px;
}

/* ie alert */
.ie-alert-row {
    margin-top: -10px;
}
.ie-alert-row .alert {
    text-align: justify;
}