.span12 {
    position: relative;
}
.ipad {
    z-index: 1000;
}
.screen, .touch, .clock, .toc, .recipe-1, .recipe-2 {
    position: absolute;
}
.clock {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: bold;
    font-size: 75%;
    text-align: center;
    top: 11.2%;
    width: 100%;
    color: #bebebe;
}
.screen {
    overflow: hidden;
    top: 13.37%;
    left: 9.6%;
}
.screen.scrollable {
    overflow: auto;
}
.screen img {
    width: 100%;
    display: none;
}
.touch {
    width: 8%;
    background-color: grey;
    opacity: .8;
    z-index: 1500;
    display: none;
}
.toc, .fridge {
    top: 0px;
    left: 0px;
}