/* CSS specific to home cards */
.card-header {
    position: absolute;
    width: 100%;
}
.card-header hr {
    margin-top: 4px;
    margin-bottom: 0px;
}

/* profile picture card */
.card.profile {
    cursor: pointer;
}