body {
	padding-top: 40px;
	background-image: url('/img/purty_wood.png');
	background-repeat: repeat;
}

.container:not(.my-bypass) {
	padding: 25px;
	background-image: url('/img/techdraw.png');
	background-repeat: repeat;

	height: 100%;

	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
}

.larger-font {
	font-size: 17px;
}

.navbar .nav-tabs {
	float: right;
}

.centered-text {
	text-align: center;
}


/*
* home
*/
#profile-pic {
	width: 100%;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.row {
	margin-bottom: 20px;
}
.row:last-child {
	margin-bottom: 0px;
}

#breakdown {
	padding-left: 15px;
}
ul:not(.nav):not(.my-bypass) li {
	margin-bottom: 8px;
}

textarea {
	font-family: monospace;
}
