body {
	background-image: url('/img/purty_wood.png');
	background-repeat: repeat;
}
.container.main {
	padding-top: 40px;
	
	-webkit-transform-style: preserve-3d;
	-webkit-perspective: 800px;
	-webkit-perspective-origin: 50% 50%;
	-moz-transform-style: preserve-3d;
	-moz-perspective: 800px;
	-moz-perspective-origin: 50% 50%;
}
.card {
	width: 95%;
	height: 95%;
	padding: 2.5%;
	background-image: url('/img/techdraw.png');
	background-repeat: repeat;
	border-radius: 12px;
	
	-webkit-transform: rotatex(-92deg);
    -webkit-transition: all ease .5s;
	-webkit-backface-visibility: hidden;
	-moz-transform: rotatex(-92deg);
    -moz-transition: all ease .75s;
	-moz-backface-visibility: hidden;
}
.card.rotate-out {
	-webkit-transform: rotatex(92deg);
	-moz-transform: rotatex(92deg);
}
.card.rotate-in {
	-webkit-transform: rotatex(0deg);
	-moz-transform: rotatex(0deg);
}

h1:not(.my-bypass) {
	text-align: center;
}

.larger-font {
	font-size: 17px;
}

.navbar .nav-tabs {
	float: right;
}

.centered-text {
	text-align: center;
}


/*
* home
*/
#profile-pic {
	width: 100%;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.row {
	margin-bottom: 20px;
}
.row:last-child {
	margin-bottom: 0px;
}

#breakdown {
	padding-left: 15px;
}
ul:not(.nav):not(.my-bypass) li {
	margin-bottom: 8px;
}

textarea {
	font-family: monospace;
}
