.description-wrapper {
    width: 100%;
    overflow-y: auto;
}

/* link fix for nested link */
a {
    text-decoration: none !important;
}

.inner-link {
    color: transparent;
    display: inline-block;
}
.inner-link img {
    opacity: 0;
}
.link-hack {
    position: absolute;
    line-height: 100%;
}