@media (max-width: 979px) {
    .navbar-fixed-top {
        margin-bottom: 0px;
    }
}
@media (max-width: 767px) {
    .navbar-fixed-top {
        margin-left: 0px;
        margin-right: 0px;
    }

    body {
        padding-left: 0px;
        padding-right: 0px;
    }

    #profile-pic {
        margin-bottom: 15px;
    }
}