@import (reference) './lib/definitions.less';
@import './lib/global.less';
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700');

@backgroundNavigationDuration: 2s;
@navigationDuration: 1s;


.App {
	position: relative;
	min-width: 100vw;
	min-height: 100vh;

	&-background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url('/img/mars.jpg');
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		box-sizing: content-box;
		transform: translateY(0);
		z-index: -1;
	}
	&--scrollingToPage &-background {
		transition: transform 1s ease;
	}

	&-photoCredit {
		position: fixed;
		bottom: 0;
		right: 0;
		font-size: 10px;
		margin: @gutterSmall;
	}

	/* flightplan overrides */
	.Page[data-pagekey=flightplan] {
		padding: 0;
	}
	.Page[data-pagekey=flightplan] .Page-content {
		max-width: none;
		background: none;
		font: inherit;
		padding: 0;
		color: inherit;
	}

	/* resume overrides */
	.Page[data-pagekey=resume] .Page-content {
		img {
			width: 100%;
		}
	}

	/* contact overrides */
	.Page[data-pagekey=contact] .Page-content {
		background: none;
		max-width: none;
		font: inherit;
		padding: 0;
		color: inherit;
	}
	&-contactImage {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		background: url('/img/moon.jpg');
		background-size: cover;
		border-radius: 1000px;
		overflow: hidden;
		width: 475px;
		height: 475px;
		font-size: 20px;
	}
	&-contactImage:hover &-contactSash {
		// using 1deg because 0deg will break clipping for some reason
		transform: rotate(1deg);
	}
	&-contactText {
		position: relative;
		z-index: 1;
		line-height: 1.4;

		img, svg {
			height: 1em;
			vertical-align: middle;
		}
		svg {
			path {
				fill: @colorWhite;
			}
		}
		a {
			color: inherit;
		}
	}
	@contactSashHeight: 45%;
	&-contactSash {
		position: absolute;
		width: 200%;
		height: @contactSashHeight;
		top: (100% - @contactSashHeight) / 2;
		left: -50%;
		transform: rotate(12deg);
		transition: transform .2s ease;
		background: fade(@colorOrange, 85%);
	}

	/* lightbox open; bring pages above the nav */
	&--lightboxOpen &-pages {
		z-index: 10;
	}
}

@media only screen and (max-width: 767px) {
	.App {
		&-photoCredit {
			transform: rotate(-90deg);
			transform-origin: left bottom;
			margin: 5px;
			margin-right: -87px;
			opacity: .3;
		}

		&-contactImage {
			width: 350px;
			height: 350px;
			font-size: 14px;
		}
		&-contactText {
			line-height: 1.7;
		}
		&-contactSash {
			transform: rotate(12deg) !important;
		}

		&-hiddenBelowBreakpoint {
			display: none;
		}
	}
}
