.darkVars() {
	--bg-color: #1b1a1a;
	--text-color: white;
}
.lightVars() {
	--bg-color: white;
	--text-color: black;
}

* {
	box-sizing: border-box;
}

:root {
	.lightVars();

	@media (prefers-color-scheme: dark) {
		.darkVars();
	}
}

html,
body {
	height: 100%;
}

body {
	align-items: center;
	background: var(--bg-color);
	color: var(--text-color);
	display: flex;
	flex-direction: column;
	font-family: 'Roboto Mono', monospace;
	font-size: 14px;
	justify-content: center;
	position: relative;

	&[data-light] {
		.lightVars();
	}
}

.face {
	max-width: 275px;
	width: 100%;
}
.face-beard {
	// we need extra stroke to cover up the white jaggies in dark mode
	// (light mode wants a skinnier stroke, and it has no consequences)
	@media (prefers-color-scheme: dark) {
		stroke: black;
		stroke-width: 1px;
	}
}

h1 {
	font-size: 40px;
	margin-top: 1em;
}
h2 {
	font-size: 30px;
	margin-top: 0.3em;
}

.socialLinks {
	display: flex;
	margin-top: 20px;
}

.socialLinks li + li {
	margin-left: 0.5em;
}

.socialLinks a {
	color: inherit;
	text-decoration: none;
}

.socialLinks a:hover,
.socialLinks a:active {
	color: gray;
}
