* {
	box-sizing: border-box;
}

:root {
	--bgColor: white;
	--textColor: black;

	@media (prefers-color-scheme: dark) {
		--bgColor: #1B1A1A;
		--textColor: white;
	}
}

html,
body {
	height: 100%;
}

body {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	background: var(--bgColor);
	color: var(--textColor);
	font-size: 14px;
	font-family: 'Roboto Mono', monospace;
}

.face {
	max-width: 275px;
	width: 100%;
}

h1 {
	margin-top: 1em;
	font-size: 40px;
}
h2 {
	margin-top: 0.3em;
	font-size: 30px;
}

.socialLinks {
	display: flex;
	margin-top: 20px;
}

.socialLinks li + li {
	margin-left: 0.5em;
}

.socialLinks a {
	color: inherit;
	text-decoration: none;
}

.socialLinks a:hover,
.socialLinks a:active {
	color: gray;
}
