body {
    background: white;
    color: black;
    font-size: 1em;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    padding: 0px;
}

#under_construction {
    padding: 10px;
    width: 90%;
    background-color: #FFFBB5;
    text-align: center;
    margin: 0px auto 10px;
    font-size: .8em;
}

#top_bar {
    color: white;
    background-color: black;
}

#contact_info {
    text-align: right;
    font-size: .8em;
    padding: 4px;    
}

#contact_info, #wrapper {
    width: 1000px;
    margin: 0px auto;
}

#title_and_nav {
    width: 100%;
    position: relative;
    height: 100px;
}

#title_dropdown {
    color: white;
    background-color: black;
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 3em;
    width: 330px;
    text-align: center;

    -webkit-border-bottom-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

/* nav controls */
#nav_bar {
    list-style: none;
    position: absolute;
    right: 0px;
    top: 0px;
    margin-top: 20px;
    cursor: pointer;
}
#nav_bar .nav_button {
    display: inline;
    padding: 10px;
    margin-right: 15px;
    background-color: white;
    border: 1px solid black;
}
#nav_bar>.nav_button:first-child {
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#nav_bar>.nav_button:last-child {
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#nav_bar .nav_button.selected {
    background-color: black;
    color: white;
}
#nav_bar .nav_button:hover {
    background-color: lightgray;
}

#page_wrapper {
    width: 100%;
    height: auto;
}

#page_wrapper .page {
    width: 100%;
    height: auto;
}

#about_me_page {
    text-align: center;
}

#welcome_text {
    font-size: 2em;
}

#my_picture {
    width: 300px;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#about_me_text, #reddit_text {
    width: 700px;
    margin: 0px auto;
}

#curving_balls_wrapper {
    height: auto;
    width: 550px;
    margin: 0px auto;
}

#fifteen_puzzle_wrapper {
    height: auto;
    width: 450px;
    margin: 0px auto;
}

#flash_wrapper {
    height: auto;
    width: 550px;
    margin: 0px auto;
}