body {
    background: white;
    color: black;
    font-size: 1em;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    padding: 0px;
}
#wrapper {
    min-width: 805px;
    max-width: 1000px;
    margin: 0px auto;
}
#top_bar {
    color: white;
    background-color: black;
    position: relative;
    height: 1.5em;
    line-height: 1.5em;

    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
#contact_info {
    text-align: right;
    font-size: 1em;
    width: 50%;
    position: absolute;
    right: 1em;
}

/* common nav controls */
#nav_bar, #project_bar {
    list-style: none;
    padding-left: 0px;
    text-align: center;
    display: none;
}
.nav_button {
    display: inline-block;
    background-color: white;
    border: 1px solid black;
    cursor: default !important;

    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
.nav_button.selected {
    background-color: black;
    color: white;
}
.nav_button:not(.selected):hover {
    background-color: lightgray;
}

/* main nav */
#nav_bar {
    margin-top: 8px;
    margin-bottom: 0px;
}
#nav_bar .nav_button {
    width: 28%;
    padding: 0.7em;
    font-size: 1.5em;
}

/* project nav */
#project_bar {
    margin-top: 7px;
    display: none;
}
#project_bar .nav_button {
    width: 15%;
    padding: .3em;
}

/* content */
#content_wrapper {
    width: 90%;
    height: 100%;
    overflow-y: auto;
    padding: 0px 5%;
}
.content {
    width: 100%;
}
.content h1 {
    text-align: center;
}

/* parkerbossier */
#parkerbossier {
    text-align: center;
}
#my_picture {
    width: 300px;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
#parkerbossier p:first-letter {
    font-size: 1.5em;
}
.content p:first-letter {
    font-size: 1.5em;
}

/* ios */
#ios img {
    width: 320px;
}

/* misc */
#misc .quote {
	font-style: italic;
	padding: 0px 50px;
}