@import url('./reset.css');

// #region definitions

$gutter: 16px;
$splitLayoutThreshold: 840px;

:root {
	// base colors
	--color-beard: black;
	--color-gray-100: #1b1a1a;
	--color-gray-200: #555;
	--color-gray-300: #bbb;
	--color-gray-400: #ddd;
	--color-gray-500: white;

	// semantic colors (light)
	--color-bg: var(--color-gray-500);
	--color-code: var(--color-gray-300);
	--color-text: var(--color-gray-100);

	// semantic colors (dark)
	@media (prefers-color-scheme: dark) {
		--color-bg: var(--color-gray-100);
		--color-code: var(--color-gray-200);
		--color-text: var(--color-gray-400);
	}
}

// #endregion

// #region root layout

* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}
body {
	font-family: 'Roboto Mono', monospace;
	font-size: 14px;
	position: relative;
	display: flex;
	justify-content: center;
	color: var(--color-text);
	background: var(--color-bg);

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// #endregion

// #region main section

.main {
	position: relative;
	z-index: 1;
	display: flex;
	align-items: center;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	padding: $gutter;
}

.spacer {
	flex: 1;
}

.face {
	width: 60%;
	max-width: 275px;

	path {
		fill: var(--color-beard);
	}

	.face_background {
		fill: var(--color-bg);

		// we need extra stroke to cover up the white jaggies in dark mode
		// (light mode wants a skinnier stroke, and it has no consequences)
		@media (prefers-color-scheme: dark) {
			stroke: var(--color-beard);
			stroke-width: 1px;
			fill: var(--color-text);
		}
	}
}

.headings {
	font-size: min(42px, 9vw);
	margin-top: .5em;
	padding: $gutter;
	text-align: center;
	border-radius: 2px;
	background-color: rgb(from var(--color-bg) r g b / .5);
}
h1 {
	font-size: 1em;
}
h2 {
	font-size: .75em;
	margin-top: .3em;
}

.socialLinks {
	display: flex;
	align-self: stretch;
	justify-content: center;

	a {
		display: block;
		padding: 10px;
		text-decoration: none;
		color: inherit;

		&:active, &:hover {
			color: gray;
		}
		&:focus-visible {
			outline: 1px solid var(--color-text);
		}
	}
}

// #endregion

// #region code section

.code {
	line-height: 1.5;
	position: relative;
	overflow: hidden;
	flex: 1;
	padding: $gutter;
	user-select: none;
	tab-size: 3;
	color: var(--color-code);

	&:after {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		content: '';
		background: linear-gradient(
			0deg,
			rgb(from var(--color-bg) r g b / 1) 0%,
			rgb(from var(--color-bg) r g b / 0) 100%
		);
	}

	@media only screen and (max-width: $splitLayoutThreshold) {
		position: absolute;
		inset: 0;
	}
}

// #endregion
